{% extends "layout.html" %}

{% block heading %}
    First Page
{% endblock %}

{% block body %}
  <p>
    LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY HENDRERIT MAURIS. PHASELLUS PORT. FUSCE SUSCIPIT VARIUS MI. CUM SOCIIS NATOQUE PENATIBUS ET MAGNIS DIS PARTURIENT MONTES, NASCETUR RIDICULUS MUS. NULLA DUI. FUSCE FEUGI MALESUADA A MORBI NUNC ODIO, GRAVIDA AT, CURSUS NEC, LUCTUS A, LOREM. MAECENAS TRISTIQUE ORCI AC SEM. DUIS ULTRICIES PHARETRA MAGNA. DONEC ACCUMSAN MALESUAD. DONEC SIT AMET EROS. LOREM IPSUM DOLOR SIT AMET, CONSECTETUER ADIPISCING ELIT. MAURIS FERMENTUM DICTUM MAGNA. SED LAOREET ALIQUAM LEO. UT TELLU DAPIBUS EGET, ELEMENTUM VEL, CURSUS ELEIFEND, ELIT. AENEAN AUCTOR WISI ET URNA. ALIQUAM ERAT VOLUTPAT. DUIS AC TURPIS. INTEGER RUTRUM ANTE EU LACU NULLA. VESTIBULUM LIBERO NISL, PORTA VEL, SCELERISQUE EGET, MALESUADA AT, NEQUE.
  </p>

  <a href = "{{ url_for('more') }}">See more..</a>
{% endblock %}
